
body {
    background-color: #3b3b3b;
    color: white;
    text-align: center;
}

.title {
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
    max-height: 200px;
    padding-top: 30px;
    
    font-size: 30px;
    text-shadow: 3px 3px 1px black;
}

.title-side-image {
    width: 200px;
    height: 200px;
}

.intro {
    display: flex;
    justify-content: center;
    font-size: large;
    padding-top: 20px;
}

.tool-links {
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
}