html {
    margin: 0px 0px;
    font-family: 'Atkinson Hyperlegible Mono';
    height: 100%;

    --primary-color: #272427;
    --secondary-color: #363136;
    --accent-color: rgb(107, 36, 201);
}

body {
    width: 100%;
    margin: 0px;
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    background-image: url(images/europa-bg.jpg);
    background-color: var(--secondary-color);
    background-repeat: no-repeat;
    background-position: center;
}

h2 {
    margin: 0px;
}

h3 {
    margin: 0px;
}


@media only screen and (max-width: 950px) {
    .grad-container {
        display: none;
    }
    body {
        background-image: none;
    }
}

#left-grad {
    background-image: linear-gradient(to left, var(--secondary-color), rgba(0,0,0,0));
    height: 100%;
    width: 100px;
}

#right-grad {
    background-image: linear-gradient(to right, var(--secondary-color), rgba(0,0,0,0));
    height: 100%;
    width: 100px;
}

.grad-container {
    max-width: 100px;
}

#background {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

#main-page-container {
    height: 100%;
    width: 825px;
    background-color: var(--secondary-color);
}

#title-container {
    display: flex;
    justify-content: center;
}

.title-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
    border-radius: 20px 20px;
    max-height: 200px;
    padding: 0px 10px;
    margin-top: 30px;
}

.title-deco {
    height: 3px;
    background-color: var(--accent-color);
    margin: 0px 70px;
}

#title-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 10px;
    height: 175px;
    min-width: 270px;
    max-width: 470px;
}

.title-text-container>h1 {
    font-size: 30px;
    text-shadow: 3px 3px 1px black;
}

.title-side-image {
    display: flex;
    flex-shrink: 1;
    max-height: 100px;
}

.intro {
    display: flex;
    justify-content: center;
    font-size: large;
    padding-top: 20px;
}

#center-body-container {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#left-container {
    background-color: var(--primary-color);
    min-height: 200px;
    margin: 20px 10px 10px 10px;
    border-radius: 10px;
}

#right-container {
    min-height: 200px;
    min-width: 400px;
    margin: 10px;
}

#blurb {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    min-height: 200px;
    min-width: 200px;
    border-radius: 10px;
    margin: 10px 0px;
}

#external-tools-container {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--primary-color);
    padding-top: 8px;
    min-height: 200px;
    min-width: 200px;
    border-radius: 10px;

}

.tool-divider {
    justify-self: center;
    height: 3px;
    width: 250px;
    background-color: var(--accent-color);
    margin: 5px 0px;
}

.external-tool {
    display: flex;
    text-decoration: none;
    border-radius: 8px;
    background-color: var(--primary-color);
    transition-duration: 150ms;
    height: 100px;
    width: 380px;
}

.external-tool:hover {
    background-color: var(--secondary-color);
}

.external-tool>img {
    height: 80px;
    margin: 10px;
}

.tool-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    margin: 10px;
}

.tool-text>p {
    margin: 5px;
    font-style: italic;
}