* {
    margin: 0;
    padding: 0;
    font-family: 'Atkinson Hyperlegible Mono';
}

body {
    display: flex;
    flex-direction: column;
    background-color: #252525;
}

a {
    color: white;
}

h1 {
    color: white;
    font-weight: bolder;
    font-size: 30px;
}

.top-bar {
    display: flex;
    min-height: 80px;

    border-width: 0px 0px 6px 0px;
    border-style: ridge;
    border-color: rgb(107, 36, 201);
}

.return-home {
    background-color: #181818;
    min-width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.return-home > a {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 180px;
}

.top-guide-nav {
    display: flex;
    color: white;
    background-color: #181818;
    min-width: 600px;
    flex-grow: 1;

    justify-content: center;
}

.top-guide-nav > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #252525;
    margin: 8px 0px;
    border-style: solid;
    border-width: 2px 0px;
    border-color: rgb(107, 36, 201);
}
.previous-guide {
    min-width: 150px;
    flex-grow: 0.15;
}

.current-guide {
    min-width: 150px;
    flex-grow: 0.3;
    margin: 8px 20px 8px 20px !important;
}

.next-guide {
    min-width: 150px;
    flex-grow: 0.15;
}

.main-content {
    background-color: purple;
}