* {
    margin: 0;
    padding: 0;
    font-family: 'Atkinson Hyperlegible Mono';

    --normal-font-size: 20px;
    --img-desc-font-size: 16px;
    --keyword-icon-size: 26px;

    --solar-color: #ef641f;
    --arc-color: #79BBE7;
    --void-color: #c094d4;
    --stasis-color: #4d88ff;
    --strand-color: #37d964;
}

html {
    height: 100%;
}

body {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: #3b3b3b;
}

h1 {
    color: white;
    font-weight: bolder;
    font-size: 30px;
}

h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

a {
    color: white;
}

li {
    margin-top: 18px;
}

.top-bar {
    display: flex;
    min-height: 80px;
    min-width: 875px;

    border-width: 0px 0px 6px 0px;
    border-style: ridge;
    border-color: rgb(107, 36, 201);
}

.return-home {
    background-color: #181818;
    min-width: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: left;
}

.return-home>a {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 180px;
}

.top-guide-nav {
    display: flex;
    color: white;
    background-color: #181818;
    min-width: 600px;
    flex-grow: 1;

    justify-content: center;
}

.top-guide-nav>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px 0px;
    border-style: solid;
    border-width: 2px 0px;
    border-color: rgb(107, 36, 201);
}

.previous-guide {
    min-width: 150px;
    flex-grow: 0.15;
}

.current-guide {
    min-width: 150px;
    flex-grow: 0.3;
    margin: 8px 20px 8px 20px !important;
}

.next-guide {
    min-width: 150px;
    flex-grow: 0.15;
}

.center-container {
    display: flex;
    flex-direction: row;
    min-width: 875px;
    flex-grow: 1;
    background-color: #252525;
}

.guide-container {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    background-color: #252525;
    color: white;
    justify-content: center;
}

.guide-content {
    flex-shrink: 1;
    padding: 20px;
    max-width: 870px;
    text-align: center;
}

.guide-content>p {
    padding: 20px 0px;
    font-size: var(--normal-font-size);
}

.guide-content>img {
    flex-shrink: 1;
    max-height: 400px;
}

.guide-content>.image-desc {
    font-size: var(--img-desc-font-size);
    max-width: 600px;
    justify-self: center;
}


.keyword.solar {
    color: var(--solar-color);
}

.keyword.solar::before {
    background: url(../images/solar.png) no-repeat 0 0;
    margin-bottom: 5px;

    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 3px;
    content: "";
    background-size: 20px 20px;
    vertical-align: bottom;
}

.keyword.arc {
    color: var(--arc-color);
}

.keyword.arc::before {
    background: url(../images/arc.png) no-repeat 0 0;
    margin-bottom: 4px;

    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 3px;
    content: "";
    background-size: 20px 20px;
    vertical-align: bottom;
}

.keyword.void {
    color: var(--void-color);
}

.keyword.void::before {
    background: url(../images/void.png) no-repeat 0 0;
    margin-bottom: 4px;

    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 3px;
    content: "";
    background-size: 20px 20px;
    vertical-align: bottom;
}

.keyword.stasis {
    color: var(--stasis-color);
}

.keyword.stasis::before {
    background: url(../images/stasis.png) no-repeat 0 0;
    margin-bottom: 4px;

    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 3px;
    content: "";
    background-size: 20px 20px;
    vertical-align: bottom;
}

.keyword.strand {
    color: var(--strand-color);
}

.keyword.strand::before {
    background: url(../images/strand.png) no-repeat 0 0;
    margin-bottom: 3px;

    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 3px;
    content: "";
    background-size: 20px 20px;
    vertical-align: bottom;
}

.keyword.grenade {
    color: white;
    font-weight: bold;

}

.keyword.grenade::before {
    background: url('https://bungie.net/common/destiny2_content/icons/065cdaabef560e5808e821cefaeaa22c.png') no-repeat 0 0;
    margin-bottom: 2px;

    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 3px;
    content: "";
    background-size: 20px 20px;
    vertical-align: bottom;
}

.keyword.melee {
    color: white;
    font-weight: bold;
}

.keyword.melee::before {
    background: url('https://bungie.net/common/destiny2_content/icons/fa534aca76d7f2d7e7b4ba4df4271b42.png') no-repeat 0 0;
    margin-bottom: 2px;

    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 3px;
    content: "";
    background-size: 20px 20px;
    vertical-align: bottom;
}

.keyword.class-ability {
    color: white;
    font-weight: bold;
}

.keyword.class-ability::before {
    background: url('https://bungie.net/common/destiny2_content/icons/7eb845acb5b3a4a9b7e0b2f05f5c43f1.png') no-repeat 0 0;
    margin-bottom: 2px;

    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 3px;
    content: "";
    background-size: 20px 20px;
    vertical-align: bottom;
}

.keyword.super {
    color: white;
    font-weight: bold;
}

.keyword.super::before {
    background: url('https://bungie.net/common/destiny2_content/icons/585ae4ede9c3da96b34086fccccdc8cd.png') no-repeat 0 0;
    margin-bottom: 2px;

    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 3px;
    content: "";
    background-size: 20px 20px;
    vertical-align: bottom;
}